.data {
    width: 100%;
    margin-top: 25px;
    display: grid;
    padding: 4px 8px;
    box-sizing: border-box;
    place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-content: center;
}

@media (max-width: 1500px) {
    .data {
        grid-template-columns: repeat(4, minmax(280px, 1fr));
    }
}

@media (max-width: 1200px) {
    .data {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
        padding: 0 4px;
    }
}

@media (max-width: 768px) {
    .data {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        overflow-y: auto;
    }
}